body
{
    background-color: Cornsilk;
}
.speech
{
color: black;
font-size: small;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.stageDirection
{
color: BurlyWood;
font-size: medium;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.name
{
color: black;
font-size: medium;
font-family: Georgia, 'Times New Roman', Times, serif;
}
.hover
{
    background-color: Peru;
    color: RosyBrown;
}

.LordGoring
{
color:SaddleBrown ;
}
.LordCaversham
{
color: SandyBrown;
}
.Phipps
{
color: Goldenrod;
}

#tableStyle
{
    width: 50%;
    border: 1px solid maroon;
    color:Brown;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 200px;
    margin-right: 200px;
}

#tableStyle tr:nth-child(even)
{
    background-color: NavajoWhite;
}
#tableStyle tr:nth-child(odd)
{
    background-color: wheat;
}
#tableStyle th
{
    border: 1px solid black;
    padding-top: 7px;
    padding-bottom: 7px;
    background-color: DarkRed;
    color: white;
}
#tableStyle td
{
    padding: 3px;
    border: 1px solid maroon;
}

.LordCaversham:hover
{
    border: 1px solid blue;
    display: inline;
    color: DarkBlue;
    text-shadow: 1px 1px 1px DeepSkyBlue;
}

.LordGoring:hover
{
    border: 1px solid blue;
    display: inline;
    color: DarkBlue;
    text-shadow: 1px 1px 1px DeepSkyBlue;
}

.Phipps:hover
{
    border: 1px solid blue;
    display: inline;
    color: DarkBlue;
    text-shadow: 1px 1px 1px DeepSkyBlue;
}

.speech:hover
{
    color: OrangeRed; 
    text-shadow: 1px 1px 1px Moccasin;
}

.stageDirection:hover
{
    color:  Crimson;
    text-shadow: 1px 1px 1px  lightsalmon;
}